body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background: #004d40;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#filter {
  padding: 5px;
  border-radius: 4px;
  border: none;
}

#map {
  flex: 1;
}

footer {
  background: #eee;
  text-align: center;
  padding: 5px;
  font-size: 0.9em;
}
